- name: Accept Android Licenses
        run: |
          yes | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --licenses || true

      - name: Build APK with Buildozer
        run: |
          buildozer -v android debug
        env:
          BUILDOZER_WARN_ON_ROOT: 1
